.vs
.vscode
/Debug/**
SFMLP0/x64/Debug/SFMLP0.log
SFMLP0/x64/Debug/SFMLP0.tlog/CL.command.1.tlog
SFMLP0/x64/Debug/SFMLP0.tlog/SFMLP0.lastbuildstate
SFMLP0/x64/Debug/SFMLP0.tlog/unsuccessfulbuild
SFMLP0/x64/Debug/vc143.idb
SFMLP0/x64/Debug/vc143.pdb
SFMLP0/Debug/vcpkg.applocal.log
SFMLP0/Debug/vc143.pdb
SFMLP0/Debug/vc143.idb
SFMLP0/Debug/State.obj
SFMLP0/Debug/SFMLP0.vcxproj.FileListAbsolute.txt
SFMLP0/Debug/SFMLP0.tlog/SFMLP0.write.1u.tlog
SFMLP0/Debug/SFMLP0.tlog/SFMLP0.lastbuildstate
SFMLP0/Debug/SFMLP0.tlog/link.write.1.tlog
SFMLP0/Debug/SFMLP0.tlog/link.read.1.tlog
SFMLP0/Debug/SFMLP0.tlog/link.command.1.tlog
SFMLP0/Debug/SFMLP0.tlog/CL.write.1.tlog
SFMLP0/Debug/SFMLP0.tlog/CL.read.1.tlog
SFMLP0/Debug/SFMLP0.tlog/CL.command.1.tlog
SFMLP0/Debug/SFMLP0.log
SFMLP0/Debug/SFMLP0.ilk
SFMLP0/Debug/SFMLP0.exe.recipe
SFMLP0/Debug/SFMLP0.Build.CppClean.log
SFMLP0/Debug/MainMenuState.obj
SFMLP0/Debug/main.obj
SFMLP0/Debug/main.nativecodeanalysis.sarif
SFMLP0/Debug/GameState.obj
SFMLP0/Debug/Game.obj
SFMLP0/Debug/Entity.obj
SFMLP0/Debug/CodeAnalysisResultManifest.txt
